<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap-grid.css">
    <title>Chenka Coffee Shop</title>


</head>
<body style="background-image: url('../../images/5.jpg');
">

    <nav class="navbar navbar-default navbar-fixed top-right"/>
        <div class="container">
            <a style="color : red; font-size:60px" class="navbar-brand" href="@Url.Action("Index","Home")">Chenka Coffee Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <h2 style= " color:white; font-size:x-large" class="oi oi-menu" >Menu</h2> 
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav" align="right">
                <ul class="navbar-nav ml-auto" align="right ">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item active"><a style="color: red; font-size:large;" href="@Url.Action("Index","Home")" class="nav-link">Home</a></li>
                        <li class="nav-item active"><a style="font-size:large" href ="@Url.Action("product","Home")" class="nav-link">Product</a></li>
                        <li class="nav-item active"><a style="font-size:large" href="@Url.Action("About","Home")" class="nav-link">About</a></li>
                        <li class="nav-item"><a style="font-size:large" href="@Url.Action("Login","Account")" class="nav-link">Login</a></li>
                        <li class="nav-item"><a style="font-size:large" href="@Url.Action("Register", "Account")" class="nav-link">Register</a></li>
                        if (TempData["cart"] != null)
                        {
                            TempData.Keep();
                            <li class="nav-item cta cta-colored"><a href="@Url.Action("Checkout","Home")" class="nav-link"><span class="icon-shopping_cart"></span>[@TempData["item_count"]]</a></li>
                        }
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("1"))
                        {
                            <li class="nav-item "><span  style="color:red; font-size:large";align="right"  class="nav-link">Welcome to @Session["User"]</span></li>
                            <li class="nav-item dropdown" align="right">
                                <a class="nav-link dropdown-toggle" style="font-size:large"  href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown04" align="right">
                                    <a class="dropdown-item" style="font-size:large" href="@Url.Action("Create", "Category")">Add Category</a>
                                    <a class="dropdown-item" style="font-size:large" href="@Url.Action("Index", "Category")">View Categories</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" style="font-size:large" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown04">
                                    <a class="dropdown-item" style="font-size:large" href="@Url.Action("Create", "Products")">Add Product</a>
                                    <a class="dropdown-item" style="font-size:large" href="@Url.Action("Index", "Products")">View Products</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown" style="right">
                                <a class="nav-link dropdown-toggle" style="font-size:large" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tables</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown04">
                                    <right>
                                        <a class="dropdown-item" style="font-size:large" href="@Url.Action("Create", "Table")">Add Tables</a>
                                        <a class="dropdown-item" style="font-size:large" href="@Url.Action("Index", "Table")">View Tables</a>
                                    </right>
                                </div>
                            </li>
                        }
                        else if (User.IsInRole("2"))
                        {
                            <li class="nav-item"><a style="font-size:large" href="@Url.Action("GetAllUser", "Home")" class="nav-link">Users</a></li>
                            <li class="nav-item"><a style="font-size:large" href="@Url.Action("GetAllOrderDetail", "Home")" class="nav-link">Orders</a></li>
                        }
                        else if (User.IsInRole("3"))
                        {
                            <li class="nav-item "><span style="color: red;font-size:large" class="nav-link">Welcome to @Session["User"]</span></li>
                            <li class="nav-item active"><a style="font-size:large" href="@Url.Action("Index","Home")" class="nav-link">Home</a></li>
                            <li class="nav-item active"><a style="font-size:large" href="@Url.Action("product","Home")" class="nav-link">Product</a></li>
                            <li class="nav-item active"><a style="font-size:large" href="@Url.Action("About","Home")" class="nav-link">About</a></li>
                            <li class="nav-item"><a style="font-size:large" href="@Url.Action("OrderDetail", "Home", new { id = @Session["uid"] })" class="nav-link">Orders</a></li>
                            if (TempData["cart"] != null)
                            {
                                TempData.Keep();
                                <li class="nav-item cta cta-colored"><a style="font-size:large" href="@Url.Action("Checkout","Home")" class="nav-link"><span class="icon-shopping_cart"></span>[@TempData["item_count"]]</a></li>
                            }
                        }
                        <li class="nav-item"><a style="font-size:large" href="@Url.Action("Signout", "Account")" class="nav-link">Logout</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <!-- footer links -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=aizasybvwakrjvy3mae7sq74_ujiulgl1jy0h2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>